body {
  background-image: url("../img/background.jpg");
  background-repeat:round;
}

p {
  font-size: 13px;
}

h2 {
  font-size: 15px;
  font-style: italic;
}

h3 {
  font-size: 13px;
  font-style: italic;
}

header, footer {
  padding: 30px;
  font-size: 10px;
  background-color: #272727;
  color: white;
  box-shadow: 2px 2px 2px 2px black;
}

footer {
  text-align: center;
  margin-top: 40vh;
}

/* Boutons navigation */

.nav-acc {
  color: white;
  border: 2px solid white;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-acc:hover{
  color: #0063e3;
  border: 2px solid #0063e3;

}

.nav {
  float: right;
  background-color: white;
  color: #272727;
  border:  1px solid black;
  text-decoration: none;
  padding: 6px;
}

.nav:hover {
  color: #0063e3;
  border: 1px solid #0063e3;
}


.vcard {
  background-color: white;
  text-align: center;
  font-size: 10px;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 50vh;
  padding: 30px;
  box-sizing: border-box;
  width: 25%;

}

/* VCARD  */

.bouton {
  font-size: 8px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #272727;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.bouton:hover {
  background-color: white;
  color: #272727;
  border:  1px solid black;
}

.title {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 20px;
  text-transform: uppercase;

}

.present, .stock, .contact {
  width: 65%;
  margin:auto;
  background-color: #F5F5DC;
  padding: 20px;
  text-align: center;
  margin-top: 10vh;
  /* margin-bottom: 20vh; */
  /* margin-top: 20px; */
  box-shadow: 5px 5px 5px 5px #272727;
}



 /* STOCK ITEM */

 .col-right, .img-item {
   text-align: center;
   box-shadow: 3px 3px 3px 3px #272727;
   background-color: #F5F5DC;
 }

.col-right {
  margin: 900px;
  width: 30%;
  padding: 20px;
  margin-top: 10vh;
  margin-bottom: 50vh;
}

.img-item {
  margin: 15px;
  float: left;
  padding: 10px;
  width: 55%;
}

/* Background Stock */
.bg-img {
  box-sizing: border-box;
  width: 15%;
  border : 4px solid #272727;
  margin-left: 2vh;
  margin-bottom: 5vh;
}

.mrgn {
  margin-top: 20vh;
}

/* PAGINATION */


#pagination-flickr li
{
    border:0;
    margin:0;
    padding:0;
    font-size:11px;
    list-style:none;
    font-size: 15px;
}

#pagination-flickr a
{
    border:solid 1px #DDDDDD;
    margin-right:2px;
}

#pagination-flickr .previous-off, #pagination-flickr .next-off
{
    color: white;
    display:block;
    float:left;
    font-weight:bold;
    padding:3px 4px;
}

#pagination-flickr .next a, #pagination-flickr .previous a
{
    font-weight:bold;
    border: solid 1px white;
}

#pagination-flickr .active
{

    color: white;
    font-weight:bold;
    display:block;
    float:left;
    padding:4px 6px;
}

#pagination-flickr a:link, #pagination-flickr a:visited
{
    background-color: white;
    color: #272727;
    display:block;
    float:left;
    padding:3px 6px;
    text-decoration:none;
}

#pagination-flickr a:hover
{
  background-color: #272727;
  color: white;
}

/* Bouton rechercher */

input[type="submit"]{
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #272727;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
  color: #272727;;
  border: solid 1px black;
}

input[type="text"] {
  background-color: #272727;
  color: white;
  padding: 5px;
}

::placeholder {
  color: white;
}

/* footer */

.link {
  background-color: white;
  color: #272727;
  border:  1px solid white;
  text-decoration: none;
  padding : 3px;
}

.link:hover {
  color: #0063e3;
  border: 1px solid #0063e3;
}

.img-footer {
  float:right;
}
